PayrollManagment/PayrollManagement.Web.Reporting/bin/
PayrollManagment/PayrollManagement.Web.Reporting.Tests/obj/
PayrollManagment/PayrollManagement.Web.Reporting.Tests/bin/
PayrollManagment/PayrollManagement.Web.Reporting/obj/
PayrollManagment/PayrollManagement.Services/obj/
PayrollManagment/PayrollManagement.Web.Tests/bin/
PayrollManagment/PayrollManagement.Services/bin/
PayrollManagment/PayrollManagement.Web/obj/
PayrollManagment/PayrollManagement.Web/bin/
PayrollManagment/PayrollManagement.Web.Tests/obj/
PayrollManagment/PayrollManagement.Services.Tests/obj/
PayrollManagment/PayrollManagement.Data/bin/
PayrollManagment/PayrollManagement.Data/obj/
PayrollManagment/PayrollManagement.Services.Tests/bin/
PayrollManagment/PayrollManagement.CalculationEngine/bin/
PayrollManagment/PayrollManagement.CalculationEngine/obj/
PayrollManagment/PayrollManagement.Plugins/bin/
PayrollManagment/PayrollManagement.Plugins/obj/
